
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Header.cshtml";
}

    <body class="freakshowText">

        <div class="titlesize center error" >
            Sorry it seems a Great Old One has gotten into our servers. Go back and try again, try again at later, or
            chant  "Ph'nglui mglw'nafh Cthulhu R'lyeh wgah'nagl fhtagn" until it is solved.
        </div>
        
        <div class="eye">
            <img src="~/img/error.jpg" />
        </div>
    </body>

